@using Microsoft.AspNet.Identity

<nav class="navbar navbar-inverse navbar-fixed-top" style="color: white">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <link rel="shortcut icon" href="~/imagens/radice_logo.jpg" />
            <a class="navbar-brand" href="#">Salon Enterprise</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Atendimento<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/Form">Cadastro de Clientes</a></li>
                                <li><a href="/Cliente/Index">Clientes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fornecedores<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/Form">Cadastro de Fornecedor</a></li>
                                <li><a href="/Fornecedor/Index">Fornecedores</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Financeiro<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Movimentacao/Index">Movimentações</a></li>
                                <li><a href="/Movimentacao/Busca">Buscar Movimentações</a></li>
                                <li><a href="/Movimentacao/Form">Nova Movimentação</a></li>
                                <li><a href="/Movimentacao/MovimentacoesPorFuncionario">Movimentação por funcionario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Estoque<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Produto/Form">Cadastro de Produtos</a></li>
                                <li><a href="/Produto/Index">Produtos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Radice<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Funcionario/Form">Cadastro do Profissional</a></li>
                                <li><a href="/Funcionario/Index">Profissionais</a></li>
                                <li><a href="/Usuario/Index">Usuarios</a></li>
                                <li><a href="#section42">Informações</a></li>
                                <li><a href="#section42">Sobre</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Serviço<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Servico/Form">Cadastro de Serviços</a></li>
                                <li><a href="/Servico/Index">Serviços Disponiveis</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logoff", "Conta", FormMethod.Post, new { id = "formulario_logoff" }))
                            {

                            }

                            <li> <p class="navbar-text"> Olá, @User.Identity.GetUserName() </p> </li>
                            <li> <a href="javascript:document.getElementById('formulario_logoff').submit()"> Logoff </a> </li>
                        }
                        else
                        {

                            <li>@Html.ActionLink("Login", "Login", "Conta")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</nav>
