
<h2 style="font-weight:bold">Salon Enterprise Aplication</h2>

<p style="font-size: 15px; margin-bottom:5px" class="lead"><em>

    Nossa aplicação consiste em o usuário ter uma experiência mais acessível
    <br />para lidar com a administração do seu negócio

</em></p>

<footer>
    <p style="padding: 0px; margin: 0px;">&copy; @DateTime.Now.Year | Salon Enterprise Application</p>
</footer>
