<table class="table table-hover">
    <tr>
        <th>Nome:</th>
        <td>>@ViewBag.Fornecedor.Nome</td>
    </tr>
    <tr>
        <th>CNPJ:</th>
        <td>@ViewBag.Fornecedor.Cnpj</td>
    </tr>
</table><br />

@Html.ActionLink("Voltar para a Lista de Fornecedores", "Index", "Fornecedor")










