@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Enterprise Radice</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="~/imagens/radice_logo.jpg" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            @Html.ActionLink("Salon Enterprise", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Login", "Login", "Conta")</li>
            </ul>

        </div>

    </div>

    <div class="container">
        @RenderBody()
    </div>



    @*<footer>
                <hr style="padding: 0px; margin: 0px;" />
                <p style="padding: 0px; margin: 0px;">&copy; @DateTime.Now.Year - My SalonEnterprise Application</p>
        </footer>*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>





