@{
    ViewBag.Title = "ConfirmacaoEmailValidada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sua conta foi confirmada!</h2>
<p>Agora voce já pode usar o seu login para acessar o sistema.</p>