
<div class="container">
    <div class="login-page">
        <div class="form">

            <form name="login" class="login-form" action="/Login/Autentica" method="post">
                <div class="radice_logo"></div>
                <br>
                <p>Usuario</p>
                <input type="text" name="login" id="login" placeholder="Digite seu usuario..." />
                <p>Senha</p>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha..." />
                <div class="button-ok">
                    <input type="submit" value="OK" />
                    <input type="submit" value="LIMPAR" />
                </div>
                <p style="font-size: 12px; padding: 15px 0 0"><a href="#">Esqueceu a Senha?</a></p>
            </form>
            @Html.ValidationMessage("Senha.Errada")
        </div>
    </div>
</div>
